@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

body {
  margin: 0;
  font-family: "Inder", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input{
  font-family: "Inder", sans-serif;
}